* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 30px;
}

.copy {
  padding: 20px;
  color: #fff;
  background: #54576a;
  text-align: center;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #9db2a9;
}

.navbar h1 {
  color: #9db2a9;
}

main,
footer h1 {
  padding-top: 1rem;
}

.navbar .hamburger-icon {
  cursor: pointer;
  padding: 0 5px;
  border: 1px solid #ccc;
}

.navbar .hamburger-icon > div {
  width: 20px;
  height: 2px;
  margin: 5px 0;
  background: #333;
}

.navbar ul.desktop-links {
  display: none;
}

header h2 {
  width: 90%;
  margin: 2rem auto;
  line-height: 1.5;
  font-size: 1.3rem;
  text-align: center;
  color: #9db2a9;
}

header .header-img {
  width: 95%;
  margin: 0 auto 1rem auto;
  display: block;
  height: 150px;
  border: 1px solid #9db2a9;
  background: url("../images/itkonsult.jpg") no-repeat center/cover;
}

main,
footer {
  width: 95%;
  margin: auto;
  background: #9db2a9;
}

main img#portrait {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  border-radius: 50%;
}

main > p {
  width: 90%;
  margin: auto;
  padding: 1rem 0;
  text-align: center;
  line-height: 1.5;
}

main h1 {
  text-align: center;
  padding-top: 2rem;
}

.grid-container {
  padding: 20px;
  border-bottom: 1px solid #54576a;
}

.grid-container .grid-items {
  text-align: center;
  margin: 1rem 0;
}

.grid-container .grid-items h2 {
  margin: 1rem 0;
}

.grid-container .grid-items p,
.grid-container .grid-items ul li {
  color: #fff;
  list-style: none;
}

.grid-container .grid-items:last-child {
  margin-top: 2rem;
}

.grid-container .grid-items a {
  width: 50%;
  padding: 10px;
  border: none;
  color: #111;
  text-decoration: none;
  border: 1px solid #111;
  display: inline-block;
  border-radius: 3px;
  background: #fff;
  margin: 1rem auto;
}

.grid-container.col-2.footer h1 {
  padding-bottom: 1rem;
}

.grid-container-contact form {
  width: 90%;
  margin: 0 auto 1rem auto;
}

.grid-container-contact form input,
textarea {
  width: 100%;
  padding: 10px;
  display: flex;
  margin: 1rem 0;
  flex-flow: column;
  align-items: center;
}

.grid-container-contact form textarea {
  height: 250px;
}

.grid-container-contact form input[type="submit"] {
  border: none;
}

footer {
  text-align: center;
}

footer ul.contact-list {
  padding: 20px 0;
  text-align: left;
  width: 150px;
  margin: auto;
  list-style: none;
}

footer ul.contact-list li {
  padding: 5px 0;
}

footer ul.contact-list li a,
p {
  color: #fff;
  text-decoration: none;
}

footer ul.contact-list li a i,
footer ul.contact-list li p.phone i {
  color: #fff;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .navbar ul.desktop-links {
    display: flex;
    list-style: none;
  }

  .navbar ul.desktop-links a {
    display: block;
    padding: 10px;
    color: #9db2a9;
    margin-right: 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .navbar .hamburger-icon {
    display: none;
  }

  header h2 {
    width: 65%;
    font-size: 1.5rem;
  }

  header .header-img {
    height: 300px;
  }

  main > p {
    width: 50%;
    margin: auto;
  }

  .grid-container .grid-items {
    width: 50%;
    margin: auto;
  }

  .grid-container.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-container.col-2.footer {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-container.col-2.footer .grid-items {
    margin: 0;
    padding: 50px;
    width: 100%;
  }

  .grid-container.col-2 .grid-items {
    width: 90%;
  }

  .grid-container.col-2 .grid-items.border-right {
    border-right: 1px solid #54576a;
    margin: 0;
  }

  .grid-container-contact form {
    width: 50%;
    margin: 0 auto 1rem auto;
  }

  .grid-container-contact form input[type="submit"] {
    width: 30%;
  }
}
